#container{
    display: flex;
    justify-content: left;
    place-items:center;
    padding: 3%;
}

#button{
    background:    #353535;
    border-radius: 11px;
    padding:       28px 49px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 26px/1 "Ubuntu", sans-serif;
    text-align:    center;
    text-shadow:   1px 1px #ffffff;
}

input{
    width:100%;
    max-width:700px;
    background: rgba(255,255,255,0.2);
    display:flex;
    align-items:center;
    border-radius:60px;
    padding:20px;
}

#textbox{
    padding-right:5%;
    width:25vw;
}